.ctltoolbar {
  position: absolute;
  bottom: 0px;
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.06) 20.19%,
      rgba(0, 0, 0, 0.31) 60.1%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(
      180deg,
      rgba(240, 239, 239, 0) 0%,
      rgba(240, 239, 239, 0.11) 20.19%,
      rgba(240, 239, 239, 0.51) 60.1%,
      #f0efef 100%
    );
  z-index: 9999;
}
