* {
  font-family: 'ComposeTonLogo', sans-serif;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ComposeTonLogo';
  src: url('/fonts/FiraSans-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('/fonts/Aleo-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LeckerliOne';
  src: url('/fonts/LeckerliOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Limelight';
  src: url('/fonts/Limelight-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FasterOne';
  src: url('/fonts/FasterOne-Regular.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Ribeye';
  src: url('/fonts/Ribeye-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MetalMania';
  src: url('/fonts/MetalMania-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Micro5';
  src: url('/fonts/Micro5-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UniRennes';
  src: url('/fonts/UniRennes-Inline.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AuBordDeLaSeine';
  src: url('/fonts/AuBordDeLaSeine.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bright';
  src: url('/fonts/Bright.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ChocolateAdventure';
  src: url('/fonts/ChocolateAdventure.ttf');
  font-weight: 400;
  font-style: normal;
}