.keyboard-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  padding: 20px;
  pointer-events: none;
}

.keyboard-container {
  width: 100%;
  max-width: 1100px;
  pointer-events: auto;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 1);
  background-color: #00000099;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
}

.ctl-keyboard.hg-theme-default {
  background-color: transparent !important;
  font-family: inherit;
  overflow: visible;
}

.ctl-keyboard.hg-theme-default .hg-button {
  border-radius: 10px !important;
  height: 65px !important;
  --tint: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.3) 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.3) 80%),
    linear-gradient(0deg, var(--tint) 0%, var(--tint) 100%), rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.9rem;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.ctl-keyboard.hg-theme-default .hg-button:active {
  filter: brightness(1.4);
  transition:
    all 0s ease-out,
    transform 0.05s ease-out;
  transform: scale(1.1);
  --tint: rgba(255, 255, 255, 0.2);
}

.ctl-keyboard.hg-theme-default .hg-button.hg-standardBtn {
  flex-grow: 1;
}

.ctl-keyboard.hg-theme-default .hg-button.hg-functionBtn {
  --tint: rgba(255, 255, 255, 0.3);
  font-weight: 500;
  font-size: 1.7rem;
}

.ctl-keyboard.hg-theme-default .hg-button.hg-button-space {
  width: 400px !important;
}

.ctl-keyboard.hg-theme-default .hg-button.hg-button-space:active {
  transform: scale(1.02);
}

.ctl-keyboard.hg-theme-default .hg-button.hg-button-enter {
  --tint: #e35f8e;
  font-weight: 500;
}

.ctl-keyboard.hg-theme-default .hg-button.hg-active-lock,
.ctl-keyboard.hg-theme-default .hg-button.hg-active-shift {
  --tint: rgba(255, 255, 255, 0.8);
  border-color: white !important;
  color: black !important;
}

/* Override simple-keyboard default spacing */
.hg-rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
}

.hg-row {
  display: flex;
  gap: 8px;
  overflow: visible;
}

.hg-row:not(:last-child) {
  margin-bottom: 0 !important;
}